// This variable controls both the the height and width
// of an individual chess square on the board.
$chessboard-space-size-std: 72px;

// The board colors. Defaults are black and white, respectively.
$chessboard-space-dark: #47240E;
$chessboard-space-lite: #ECD8A3;
$chessboard-border: #8A6B3D;

// Utility function to return width of one row on the board,
// based on the fact that there are eight (8) squares to a row.
@function total-chessboard-width($chessboard-square-width) {
  @return ($chessboard-square-width + 2) * 8
}

.chessboard {
  width:  total-chessboard-width($chessboard-space-size-std);
  margin: auto;

  a {
    display: block;
    float: left;
  }
}

.chessboard__row {
  clear:   both;
  display: table;
  content: "";
}

.chessboard__row__space {
  border:     1px solid $chessboard-border;
  height:     $chessboard-space-size-std;
  width:      $chessboard-space-size-std;
  float:      left;
  overflow:   hidden;
  padding:    1px;
  text-align: center;

  a {
    width: 100%;
  }
}

.selected .chessboard__row__space {
  border: 1px solid red;
}

.chessboard__row__space--dark {
  background-color: $chessboard-space-dark;
}

.chessboard__row__space--lite {
  background-color: $chessboard-space-lite;
}

.buttons {
  margin-top: 20px;
}
